*{
  overflow-x: hidden;
  /* background-color: rebeccapurple; */
  color: white;
}
.container{
  position: relative;
  z-index: 1;
}
.body{
  height: 110vh;
  width: 100%;
  background: rgb(3,0,78);
  background: linear-gradient(135deg, rgba(3,0,78,1) 0%, rgba(0,0,0,1) 100%);
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.wave {
  position: absolute;
  /* top: 100vh; */
  bottom: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 149px;
}

.wave .shape-fill {
  fill: black;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
      width: calc(100% + 1.3px);
      height: 62px;
  }
}


.intro{
  height: fit-content;
  background-color: rgb(0 11 71);
  justify-self: center;
  position: relative;
  top: 20vh;
  left: 10vw;
  height: 47vh;
  width: 34vw;
  border-radius: 10px;
  padding: 10px;
  z-index: 199;
}

.intro-element{
  margin: 10px;
  position: relative;
  z-index: 100;
}

.intro-element h4{
  position: relative;
  font-size: 17px;
}
.intro-element h4::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: tomato; */
  background-color: rgb(0 11 71);
  border-left: white solid 2px;
  animation: typing 5.5s steps(30) infinite;
}

@keyframes typing{
  100%{
    left: 105%;
  }
}
.design{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}
#design1{
  animation: pictureAnim ease-in-out 2s;
}

#design2{
  position: absolute;
  left: 10vw;
  animation: pictureAnim ease-in-out 3s;
}

#design3{
  position: absolute;
  z-index: 2;
}

#intro-anim{
  animation: introAnim ease-in-out 1s;
}

.button{
  width: 133px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #3645B2;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.about{
  position: relative;
  z-index: 100;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,4,60,1) 100%);
}

.profile-image{
  width: 49vw;
  overflow: hidden;
  animation: imageload 1s ease-in;
  position: absolute;
  right: 78%;
  transform: translateX(50%);
  bottom: 0;
  z-index: 100;
}

.button-resume{
  width: 220px;
  height: 70px;
  border-radius: 44px;
  font-size: 17px;
  background: transparent;
  border: #3645B2 solid 6px;
  color: white;
  cursor: pointer;
}

@keyframes imageload{
  from { 
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes pictureAnim {
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes introAnim {
    from {
      opacity: 0;
      transform: translateY(-30vh);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }

}
/* .Spider{
  width: 24% !important;
  height: auto !important;
} */

.Web{
  background-color: black;
}

.skills{
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
}

.skills img{
  width: 100px;
  margin: 10px;
}

.element{
  height: 200px;
  background-color: #ffffff1a;
  border-radius: 20px;
  margin: 10px;
  justify-self: center;
}

.element h3{
  text-align: center;
  text-transform: uppercase;
}

/* .hoverDiv p::after{
  position: absolute;
  left: 51%;
  content: "";
  bottom: 0;
  border: white 1px solid;
  background-color: white;
  width: 100px;
  height: 2px;
} */

.hover-effect::after{
  position: absolute;
  left: 50%;
  content: "";
  bottom: 0;
  /* border: white 1px solid; */
  background-color: white;
  width: 0%;
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.hover-effect:hover::after{
  left: 0;
  width: 100%;
}
.grid-project{
  display: grid;
  grid-template-columns:45vw auto;
  grid-gap:50px;
  margin:50px;
}

.email{
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: #ffffff5e 0.4px dashed;
  text-align: center;
  justify-content: center;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}
.emailCopy{
  width: 400px;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  /* border: #ffffff5e 0.4px dashed; */
  text-align: center;
  justify-content: center;
  height: 30px;
  border-radius: 3px;
}
.emailmsg{
  position: relative;
  left: 60%;
  opacity: 0;
  border-radius:4px;
  padding-top: 4px;
  text-align: center;
  background-color: #6b6b6b7a;
  width: 100px;
  height: 30px;
}
.emailanim{
  animation: animemail ease 1s;
}

@keyframes animemail{
  50%{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
}
.pos{
  display: none;
}

@media screen and (max-width: 950px) {
  .pos{
    display: block !important;
    position: fixed !important;
    top: 2vh;
    z-index: 4000;
    cursor: pointer;
    right: 2vw;
  }
  .ham{
    width: 22px;
    height: 3px;
    margin: 3.5px;
    background-color: white;
  }
  .hoverDiv{
    position: relative;
    top: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: none !important;
    grid-template-rows: repeat(5,1fr) !important;  
  }
  .hoverDiv div{
    overflow: hidden;
    height: 4vh;
  }
  .hover-effect{
    font-size: 10px;
  }
  #design2{
    display: none;
  }
  .body{
    display: block;
  }
  .intro{
    position: relative;
    z-index: 99;
    overflow: hidden;
    width: 73vw;
    height: 45vh;
  }
  #intro-anim{
    position: relative;
    bottom: 10vh;
    height: 100vh;
    overflow: hidden;
  }
  .intro h2{
    font-size: 24px !important;
    margin-top: 30px;
  }
  .intro h3{
    font-size: 14px !important;
  }
  .button-resume{
    width: 168px;
    height: 55px;
    font-size: 13px;
  }
  /* *{
    overflow: hidden;
  } */
  .profile-image{
    width: 130vw;
    right: 55%;
    bottom: 0;
  }
  .grid-project{
    grid-template-columns: none;
    grid-template-rows: auto auto !important;
  }
  .project-image{
    /* height: 200px !important; */
    height: auto;
  }
  .project-details{
    width: 95% !important;
  }
  .project-details h2{
    font-size: 18px;
  }
  .project-details p{
    font-size: 14px;
  }
  .skills{
    grid-template-columns: auto;
  }
  .element{
    height: 200px;
    padding: 15px;
  }
  .skills img{
    width: 40px;
  }
  .element h3{
    font-size: 15px;
  }
  .about{
    display: grid;
    grid-template-columns: none !important;
    grid-template-rows: auto auto !important;
  }
  .about h2{
    font-size: 20px !important;
  }
  .about h3{
    font-size: 14px !important;
  }
  .navbar-height{
    overflow: hidden;
    height: 27vh;
  }
  .email{
    width: 300px;
  }
  .skillsPic{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .body{
    height: 128vh;
  }
}

@media screen and (min-width: 400px) and  (max-width :950px ){
  .profile-image{
    width: 500px;
    right: 55%;
    bottom: 0;
    z-index: 0;
  }
}